#navWrapper {
  position: fixed;
  width: 100%;
  height: fit-content;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  z-index: 2;
  padding: 10px;
  transition: 0.5s ease-in-out;
}
#navWrapper.active {
  background-color: rgb(200, 218, 166);
}

#navWrapper .logo {
  font-size: 45px;
  padding: 0 20%;
  align-items: center;
  justify-self: start;
}

#navWrapper .navLinks {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

#navWrapper .navLinks ul {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: 100px 100px auto;
  align-items: start;
}

#navWrapper .navLinks ul li:nth-child(3) {
  justify-self: end;
}

#navWrapper .navLinks ul li a {
  font-size: 18px;
}

#navWrapper .outerNavLinks {
  position: fixed;
  right: 30px;
  top: 100px;
  padding: 10px;
  /* background-color: rgba(200, 218, 166, 0.737); */
  background-color: transparent;
  border-radius: 5%;
  border: 3px rgba(200, 218, 166, 0.737) solid;
}

#navWrapper .outerNavLinks ul li {
  margin: 10px;
  text-align: center;
}
#navWrapper .outerNavLinks ul li:nth-child(1) {
  text-align: end;
}
#navWrapper .outerNavLinks ul li a {
  font-size: 18px;
}
#navWrapper .outerNavLinks ul li:nth-child(4) a {
  color: rgba(128, 128, 128, 0.71);
  font-size: 14px;
  margin: 10px;
}

#navWrapper .outerNavLinks .dark-icon,
#navWrapper .outerNavLinks .split {
  color: #fff;
}
